@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.about-us {
  min-height: 100vh;
  padding: 90px 0;
  background: #ddd;
}

.pic {
  height: auto;
  width: 402px;
}

.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text {
  width: 540px;
}

.text h2 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #d38328;
}

.text p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

.mission-vision-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.mission,
.vision {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  width: 48%;
}

.mission h3,
.vision h3 {
  margin-bottom: 10px;
}

.mission p,
.vision p {
  font-size: 16px;
  line-height: 24px;
}

.contact-info {
  margin-top: 50px;
}

.contact {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.contact h3 {
  margin-bottom: 10px;
  color: #d38328;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact ul li {
  margin-bottom: 10px;
}

